<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    Perfect job exists, but this page doesn't :)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>